/* ====================
BASE
==================== */
// ADD CUSTOM BASE STYLES HERE
body {
    position: relative;
    overflow-x: hidden;
    background-color: #f5f5f5;
    
    *:focus {
        outline: none;
    }
}
a, .button {
    display: inline-block;
    color: $green;
    
    -webkit-transition: 0.3s color ease-in-out;
    -moz-transition: 0.3s color ease-in-out;
    -ms-transition: 0.3s color ease-in-out;
    -o-transition: 0.3s color ease-in-out;
    transition: 0.3s color ease-in-out;
    
    &:hover, &:focus {
        color: lighten($green, 5%);
    }
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: inherit;
}
h1 {
    font-weight: bold;
}
p {
    line-height: 2;
}

#wrapper {
    position: relative;
    left: 0;
    padding-top: 62px;
}
#home-content, #work-content {
    height: 100vh;
    overflow: hidden;
    
    &.active {
        height: auto;
        overflow: auto;
    }
}
.page-wrapper {
    float: left;
}
.project-wrapper {
    position: fixed;
    top: 1000px;
    background-color: #18191b;
    z-index: 10000;
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    min-height: 100vh;
    -webkit-overflow-scrolling: touch;
    
    -webkit-transform: scale(0.3) rotate(0deg);
    -moz-transform: scale(0.3) rotate(0deg);
    -ms-transform: scale(0.3) rotate(0deg);
    -o-transform: scale(0.3) rotate(0deg);
    transform: scale(0.3) rotate(0deg);
    
    -webkit-transition: 0.7s all ease-in-out;
    -moz-transition: 0.7s all ease-in-out;
    -ms-transition: 0.7s all ease-in-out;
    -o-transition: 0.7s all ease-in-out;
    transition: 0.7s all ease-in-out;
    
    &.show {
        top: 0 !important;
        -webkit-transform: scale(1) rotate(0deg);
        -moz-transform: scale(1) rotate(0deg);
        -ms-transform: scale(1) rotate(0deg);
        -o-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg);
    }
}

/*
===== HEADER =====
*/
// ADD CUSTOM HEADER STYLES HERE
#header {
    width: 100%;
    color: #f9f9f9;
    background-color: #222;
    text-align: center;
    position: fixed;
    z-index: 999;
    border-bottom: 1px solid #333;
    @include linear-gradient( #292929, #222);
    
    .logo-wrapper {
        position: absolute;
        display: inline-block;
        margin: 0 auto;
        background-color: #000;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border: 2px solid #222;
        border-top-width: 0px;
        
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .site-logo {
        display: block;
        padding: 6px 20px;
        font-size: 2.75rem;
    }
    .nav {
        display: block;
        position: relative;
        margin: 0;
        
        li {
            display: inline-block;
            text-decoration: none;
            padding: 20px;
            
            a {
                color: #f9f9f9;
                position: relative;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 0.8rem;
                
                &:after {
                    content: "";
                    position: absolute;
                    height: 2px;
                    bottom: -5px;
                    left: 0;
                    right: 0;
                    background-color: $green;
                    opacity: 0;
                    
                    transition: 0.3s ease-in-out;
                    
                }
                
                &#home {
                    margin-right: 60px;
                }
                &#work {
                    margin-left: 60px;
                }
                &:hover:after {
                    opacity: 1;
                    bottom: 0;
                }
            }
        }
    }
}

/* MAIN NAV */
// ADD CUSTOM MAIN NAVIGATION STYLES HERE


/*
===== MAIN =====
*/
// ADD CUSTOM MAIN BODY STYLES HERE
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/*
===== FOOTER =====
*/
// ADD CUSTOM FOOTER STYLES HERE
#footer {
    color: #fff;
    background-color: #171717;
    padding: 0.5rem 0;
    
    p {
        margin-bottom: 0;
    }
}