.mod-recent-work {
    background-color: #f9f9f9;
    
    .mod-work-wrapper {
        padding: 0.5rem 0.5rem 1rem;
        height: auto;
        
        a {
            display: block;

            .overlay {
                background-image: url("../images/footer_lodyas.png");
                opacity: 0.75;

                -webkit-transition: 0.3s opacity ease-in-out;
                -moz-transition: 0.3s opacity ease-in-out;
                -ms-transition: 0.3s opacity ease-in-out;
                -o-transition: 0.3s opacity ease-in-out;
                transition: 0.3s opacity ease-in-out;
            }
            .text-wrapper {
                color: #222;
                position: relative;
                z-index: 10;

                h4 {
                    margin-top: 0.5rem;
                    margin-bottom: 0;
                    font-size: 0.875rem;
                }
                h5 {
                    font-weight: 400;
                    font-size: 0.7rem;
                    margin-bottom: 0;
                }
                h6 {
                    font-weight: 300;
                    font-size: 0.6rem;
                    margin-bottom: 0;
                }
            }
            .select-project {
                position: absolute;
                right: -6px;
                bottom: -10px;
                padding: 22px 26px;
                color: #fff;
                background-color: $green;
                opacity: 0.7;

                -webkit-transition: 0.3s all ease-in-out;
                -moz-transition: 0.3s all ease-in-out;
                -ms-transition: 0.3s all ease-in-out;
                -o-transition: 0.3s all ease-in-out;
                transition: 0.3s all ease-in-out;

                -webkit-transform: rotate(15deg);
                -moz-transform: rotate(15deg);
                -ms-transform: rotate(15deg);
                -o-transform: rotate(15deg);
                transform: rotate(15deg);

                i {
                    display: inline-block;
                    font-size: 1.3rem;
                    -webkit-transform: rotate(-15deg);
                    -moz-transform: rotate(-15deg);
                    -ms-transform: rotate(-15deg);
                    -o-transform: rotate(-15deg);
                    transform: rotate(-15deg);

                    -webkit-transition: 0.3s all ease-in-out;
                    -moz-transition: 0.3s all ease-in-out;
                    -ms-transition: 0.3s all ease-in-out;
                    -o-transition: 0.3s all ease-in-out;
                    transition: 0.3s all ease-in-out;
                }
                &:hover {
                    opacity: 0.9;
                    i {
                        color: #fff;
                        -webkit-animation: none 1s;
                        animation: none 1s;
                    }
                }
                } 

            &:hover .overlay {
                opacity: 0.45;
            }
        }
    }
}